<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Yoshihiro Sawa</string>
	<key>Builder Version</key>
	<string>7534.55.3</string>
	<key>CFBundleDisplayName</key>
	<string>sBookmark</string>
	<key>CFBundleIdentifier</key>
	<string>com.yoshihirosawa.sbookmark</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>bookmark</string>
				<key>Identifier</key>
				<string>menu-bookmark</string>
				<key>Title</key>
				<string>このページをブックマークする</string>
			</dict>
		</array>
		<key>Database Quota</key>
		<real>104857600</real>
		<key>Global Page</key>
		<string>background.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Height</key>
				<real>480</real>
				<key>Identifier</key>
				<string>popover</string>
				<key>Width</key>
				<real>640</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>button-popover</string>
				<key>Image</key>
				<string>bookmark.png</string>
				<key>Label</key>
				<string>ブックマーク</string>
				<key>Palette Label</key>
				<string>ブックマーク</string>
				<key>Popover</key>
				<string>popover</string>
				<key>Tool Tip</key>
				<string>ブックマークします</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>LocalStorageを使った簡易ブックマーク</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
