<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>10</real>
		<key>Key</key>
		<string>per_page</string>
		<key>Title</key>
		<string>1ページに表示するブックマーク数</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
